<div class="container">
    <h2 id="Signup_page" class="text-center">Sign Up</h2>
    <fieldset>
        <form name='signupForm' novalidate style="color: black">

            <input type="text" name="first" placeholder="First"
                   ng-model="signupCtrl.user.first"
                   required>
               <span ng-if="signupForm.first.$invalid && signupForm.first.$touched">
               Enter your first name.
             </span>
            <br>
            <input type="text" name="last" placeholder="Last"
                   ng-model="signupCtrl.user.last"
                   required>
             <span ng-if="signupForm.last.$invalid && signupForm.last.$touched">
             Enter your last name.
           </span>
            <br>
            <input type="email" name="email" placeholder="Email"
                   ng-model="signupCtrl.user.email"
                   required>
            <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
            <br>

            <input type="text" name="phone" placeholder="Phone ###-###-####"
                   ng-model="signupCtrl.user.phone"
                   pattern="(\d{3})-(\d{3})-(\d{4})">
            <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
            <br>
            <input type="text" name="fav" placeholder="Input as a menu number"
                   ng-model="signupCtrl.user.fav">
            <span >{{signupCtrl.error}}</span>
            <br>
            <button ng-disabled="signupForm.$invalid"
                    ng-click="signupCtrl.submit()">Submit</button>

            <div style="margin-top: 10px;">
                Form valid? {{ signupForm.$valid }}
            </div>
        </form>
    </fieldset>
    <span >{{signupCtrl.message}}</span>
</div>
